.create-form-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.create-form-content {
  background-color: var(--modal-bg-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  color: var(--modal-text-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.create-form h3 {
  text-align: center;
  margin-top: -10px;
  display: block;
  width: 100%;
}

.create-form-content .create-form input[type="text"] {
  display: flex;
  margin: 10px 10px;
  text-align: center;
  outline-color: orange;
  width: 40%;
}

.create-form .create-form-review {
  display: block;
}

.create-form label,
textarea {
  margin-left: 5px;
  width: 45%;
}

.create-form textarea {
  margin-bottom: 20px;
}

.create-form-content .create-form input[type="submit"] {
  float: right;
  margin-right: 20px;
  margin-left: 5px;
  width: 12%;
  padding: 2px;
  border-radius: 25px;
  font-size: 0.7rem;
}

.create-form-content .create-form input[type="submit"]:hover {
  background-color: rgb(250, 161, 45);
  color: white;
  cursor: pointer;
}

.create-form-content .cancel-button {
  float: right;
  width: 12%;
  padding: 2px;
  border-radius: 25px;
  font-size: 0.7rem;
}

.create-form-content .cancel-button:hover {
  background-color: rgb(252, 53, 53);
  color: white;
  cursor: pointer;
}
